@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  /* background: #071307; */
  background-image: url("https://res.cloudinary.com/ddn203hk8/image/upload/v1778140657/fa0765984e44f85e1a04562f820f1492949a1257_xjzsnb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100;
}

.main-bg {
  background-image: url("https://res.cloudinary.com/ddn203hk8/image/upload/v1778140657/fa0765984e44f85e1a04562f820f1492949a1257_xjzsnb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100wh;
}

.glass-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 32px;
}

.glass-big {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  border-radius: 80px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
}

.section-title {
  font-size: 42px;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 768px) {
  .glass-big {
    grid-template-columns: 1fr;
  }

  .section-title {
    font-size: 32px;
  }
}

